# LaTeX intermediate/build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# Engine and cache outputs
*.dvi
*.ps
_minted*
latexmk.out
texput.log